@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

main {
  border: solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 59vh;
  overflow: hidden;
  flex-direction: column;

  section {
    margin: 2rem;

    h4 {
      text-align: center;
    }

    ;

    p {
      text-align: justify;
      margin: .5rem;
    }

    ;

    a {
      text-decoration: none;
      display: flex;
      justify-content: center;
    }

    ;

    figcaption {
      text-align: center;
      font-style: italic
    }

    ;

    img {
      width: 50%;
      margin: .1rem;
    }
  }

  .aprimeiraaula {
    border: solid orange;
  }

  .comoacessar {
    border: solid greenyellow;
  }

  .httphttps {
    border: solid violet;
  }

  .construcaosite {
    border: solid royalblue;
  }
}