@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

header{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

main{
    border: solid red;
}